<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TRIVIA
    </ion-title>
    <!-- Añadir ion-segment-->
  </ion-toolbar>
</ion-header>

<!-- OPCION 1-->
<!-- SI SE UTILIZAN LOS COMPONENTES UTILIZAR ESTE ion-content Y AÑADIR DENTRO LOS COMPONENTES.
  -- EN CASO CONTRARIO BORRARLO.
  -->
<ion-content class="ion-padding" [fullscreen]="true">
  <!-- Gestionar el control para mostrar un componente u otro. 
    -- Utilizaremos un ion-card por cada componente.
    -->
    <ion-card class="introduccion">
      <ion-card-header>
        esto es la intro
      </ion-card-header>
    </ion-card>
</ion-content>

