<ion-card>
    <ion-card-header>
      <ion-card-title>Ranking</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h2>Respuestas Seleccionadas</h2>
            <ion-list>
              <ion-item *ngFor="let respuesta of respuestasSeleccionadas">
                <ion-label>{{ respuesta }}</ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col>
            <h2>Respuestas Correctas</h2>
            <ion-list>
              <ion-item *ngFor="let respuesta of respuestasCorrectas">
                <ion-label>{{ respuesta }}</ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h2>Contador de Respuestas Correctas</h2>
            <ion-label>{{contRespuestasCorrectas}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  