<ion-header>
  <ion-toolbar>
    <ion-title>
      Página Principal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="segment" value="introduccion">
    <ion-segment-button value="introduccion">
      <ion-label>Introducción</ion-label>
    </ion-segment-button>
    <ion-segment-button value="preguntas">
      <ion-label>Preguntas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="ranking">
      <ion-label>Ranking</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="segment">
    <app-introduccion *ngSwitchCase="'introduccion'" [titulo]="titulo" [descripcion]="descripcion" [imagenUrl]="imagenUrl"></app-introduccion>
    <app-preguntas *ngSwitchCase="'preguntas'"></app-preguntas>
    <app-ranking *ngSwitchCase="'ranking'"></app-ranking>
  </div> 
</ion-content>

